{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block site_title %}
    Registro de OE
{% endblock site_title %}

{% block content %}

<section>
  <div class="container">
    <h3>Registra tu organización estudiantil</h3>
    <br>
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <center>
        <button type="submit" name="submit" class="btn">Continuar <i class="mdi-content-send right white-text"></i></button>
    </center>
      <br>
    </form>
  </div>
</section>

{% endblock content %}
