{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}Confirmar reestablecimiento de contraseña{% endblock %}

{% block content %}
<section>
  <div class="container">
      <h3>Reestablecer contraseña</h3>
<p>Introduce una nueva contraseña para reestablecerla.</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar" class="btn" />
</form>
<br>
  </div>
</section>

{% endblock %}


{# This is used by django.contrib.auth #}
