{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<section>
  <div class="container">
      <h3>Reestablecer contraseña</h3>
<p>
    ¿Olvidaste tu contraseña?  Ingresa tu correo electrónico y te enviaremos las instrucciones para crear una nueva.
</p>

<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Reestablecer contraseña" class="btn" />
</form>
<br>
  </div>
</section>

{% endblock %}


{# This is used by django.contrib.auth #}
